img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 109px;
}
#gsearch{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 109px;    
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}